.courier {
	&__body {
		& + & {
			margin-top: 32px;
		}
	}
	&__caption {
		font-weight: 700;
	}
	&__delivery {
		&-wrap {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-top: 16px;
		}
	}
}
