.footer {
	padding: 60px;
	font-size: 14px;
	line-height: 100%;
	color: var(--dark-gray);
	&__wrap {
		display: flex;
		justify-content: space-between;
	}
	&__first {
		max-width: 245px;
	}
	&__container {
		display: flex;
		gap: 42px;
	}
	&__contacts {
		margin-bottom: 24px;
		&-item {
			display: block;
			font-size: 14px;
			line-height: 140%;
			color: var(--black);
			@include transition(color);
			@media (hover: hover) {
				&:hover {
					color: var(--violet);
				}
			}
		}
	}
	&__address {
		max-width: 195px;
		font-style: normal;
		font-size: 14px;
		line-height: 130%;
		color: var(--black);
		margin-bottom: 48px;
	}
	&__copiright {
		color: var(--dark-gray);
	}
	&__code {
		width: 170px;
		height: 170px;
		margin-bottom: 20px;
	}
	&__last {
		width: 170px;
	}
	&__nav {
		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 36px;
			background-color: var(--black);
			border-radius: 12px;
			@include transition(transform);
			& + & {
				margin-top: 8px;
			}
			@media (hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
	&__caption {
		font-weight: 700;
		font-size: 16px;
		color: var(--black);
		margin-bottom: 12px;
	}
	&__menu {
		max-width: 195px;
		ul {
			margin-bottom: -8px;
			li {
				margin-bottom: 8px;
				a {
					display: block;
					font-weight: 400;
					font-size: 14px;
					line-height: 100%;
					letter-spacing: -0.01em;
					color: var(--dark-gray);
					@include transition(color);
					@media (hover: hover) {
						&:hover {
							color: var(--violet);
						}
					}
				}
			}
		}
	}
	&-body {
		padding: 40px 45px 60px;
		border-radius: 40px;
		background-color: var(--light-gray);
	}
	&-logo {
		width: 138px;
		height: 27px;
		display: block;
		margin-bottom: 32px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&-social {
		display: flex;
		gap: 10px;
		margin-bottom: 10px;
		&__link {
			display: block;
			@include transition(transform);
			@media (hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}
@media (max-width: 1359px) {
	.footer {
		padding: 0px;
		&-body {
			padding: 40px 0px 60px;
			border-radius: 0px;
		}
	}
}
@media (max-width: 1100px) {
	.footer {
		&__container {
			gap: 24px;
		}
	}
}
@media (max-width: 1010px) {
	.footer {
		&__wrap {
			flex-wrap: wrap;
		}
		&__first {
			order: 2;
		}
		&__last {
			order: 3;
		}
		&__container {
			width: 100%;
			justify-content: space-between;
			order: 1;
			margin-bottom: 32px;
		}
		&-body {
			padding: 40px 0;
		}
	}
}
@media (max-width: 760px) {
}
@media (max-width: 680px) {
	.footer {
		padding-bottom: 32px;
		&__first {
			max-width: 100%;
			order: 1;
			margin-bottom: 32px;
		}
		&__container {
			order: 2;
			flex-wrap: wrap;
			gap: 24px 16px;
		}
		&__last {
			order: 3;
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 16px;
		}
		&__contacts {
			margin-bottom: 16px;
		}
		&__box {
			width: calc(50% - 8px);
		}
		&__address {
			max-width: 100%;
			margin-bottom: 16px;
		}
		&__code {
			width: calc(50% - 8px);
			height: auto;
			margin-bottom: 0;
		}
		&__nav {
			width: calc(50% - 8px);
			&-link {
				border-radius: 6px;
			}
		}
		&-logo {
			margin-bottom: 16px;
		}
	}
}
