.header {
	padding: 30px 0px;
	background-color: var(--white);
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: var(--black);
	&__container {
		gap: 8px;
	}
}
.header-top {
	font-size: 14px;
	margin-bottom: 18px;
}

.header-item {
	display: flex;
	align-items: center;
	gap: 4px;
	color: var(--black);
	@include transition(color);
}

.header-nav {
	display: flex;
	gap: 16px;
	&__item {
		font-size: 14px;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2px;
		color: var(--black);
		@include transition(color);
	}
}
@media (max-width: 1270px) {
	.header {
		padding: 20px 0;
		&__container {
			width: 55%;
		}
	}
	.header-nav {
		gap: 12px;
	}
}
@media (max-width: 1010px) {
	.header {
		padding: 15px 0;
	}
	.header-top {
		margin-bottom: 10px;
	}
	.header-nav {
		&__item {
			span {
				display: none;
			}
		}
	}
}
@media (max-width: 760px) {
}
@media (max-width: 680px) {
	.header {
		padding: 10px 0;
		&__container {
			width: 100%;
			margin-top: 10px;
		}
	}
	.header-bottom {
		flex-wrap: wrap;
	}
	.header-nav {
		gap: 12px;
		position: fixed;
		bottom: 0;
		z-index: 1000;
		background-color: #fff;
		padding: 10px 15px;
		width: 100vw;
		justify-content: space-between;
		border-radius: 12px 12px 0px 0px;
		left: 0;
		box-shadow: -4px 9px 40px 0 rgba(165, 162, 179, 0.5);
	}
}
