.product-description {
	&__text {
		max-height: 48px;
		overflow: hidden;
		margin-bottom: 16px;
		p + p {
			margin-top: 12px;
		}
		p {
			span {
				color: var(--dark-gray);
			}
		}
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 1010px) {
	.product-description {
		&__text {
			max-height: 56px;
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 760px) {
}
