.product-reviews {
	display: flex;
	&__rating {
		font-weight: 700;
	}
	&__item {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 14px;
		color: var(--dark-gray);
		position: relative;
		&::before {
			content: "";
			width: 4px;
			height: 4px;
			background-color: var(--black);
			border-radius: 50%;
			margin: 0 9px;
		}
		&:first-child {
			&::before {
				display: none;
			}
		}
	}
}
@media (max-width: 760px) {
	.product-reviews {
		&__item {
			&::before {
				margin: 0 6px;
			}
		}
	}
}
