.rating {
	&-contanier {
		flex-wrap: wrap;
		margin-bottom: 0px;
		.rating {
			&__stars {
				width: 128px;
				height: 24px;
			}
			&__value {
				height: 24px;
			}
		}
	}
	&.error {
		color: #eb25c9;
		animation-name: field-error;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	&__title {
		width: 120px;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__stars {
		width: 120px;
		height: 24px;
		input[type="radio"] {
			display: none;
		}
		input[type="radio"]:checked {
			& ~ .rating__value {
				background: url(../img/rating/star-active.svg) no-repeat center center;
				background-size: 100% 100%;
			}
		}
		&_big {
			width: 140px;
			height: 24px;
			.rating {
				&__value {
					height: 28px;
				}
			}
		}
	}
	&__value {
		float: right;
		display: block;
		width: calc(100% / 5);
		height: 24px;
		background: url(../img/rating/star-normal.svg) no-repeat center center;
		background-size: 100% 100%;
		cursor: pointer;
		&:not(.rating__value_disabled) {
			&:hover {
				background: url(../img/rating/star-active.svg) no-repeat center center;
				background-size: 100% 100%;
				& ~ .rating__value {
					background: url(../img/rating/star-active.svg) no-repeat center center;
					background-size: 100% 100%;
				}
			}
		}
		&_disabled {
			cursor: default;
		}
	}
}

@-webkit-keyframes field-error {
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}
@keyframes field-error {
	10%,
	90% {
		-webkit-transform: translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		-webkit-transform: translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		-webkit-transform: translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}
