.receiving {
	&__body {
		position: relative;
		min-height: 360px;
	}
	&-map {
		border-radius: 22px;
		overflow: hidden;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-15px);
		&.active {
			position: relative;
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
		}
		img {
			min-height: 360px;
			object-fit: cover;
		}
	}
}
@media (max-width: 1199px) {
}
@media (max-width: 1100px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
}
