.recommendations-card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: calc(100% + 24px);
		height: calc(100% + 24px);
		top: -12px;
		left: -12px;
		border-radius: 20px;
		box-shadow: 0 18px 42px 0 rgba(165, 162, 179, 0.25);
		background: var(--white);
		transform: scale(0.8);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}
	&__top {
		position: relative;
		width: 100%;
		height: 240px;
		border-radius: 20px;
		overflow: hidden;
		background-color: var(--light-gray-2);
	}
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			@include transition(all);
		}
		@media (hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	&__like {
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 8;
		svg {
			* {
				@include transition(all);
			}
		}
		&.active {
			svg {
				path {
					fill: #ff3d9a;
				}
			}
		}
	}
	&__view {
		position: absolute;
		width: calc(100% - 32px);
		left: 16px;
		bottom: 16px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(16px);
		z-index: 8;
		text-align: center;
		transition: all 0.3s ease-in-out;
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: relative;
		z-index: 8;
	}
	&__prices {
		min-height: 23px;
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__price {
		font-weight: 800;
		font-size: 24px;
		line-height: 96%;
		&-old {
			font-weight: 700;
			line-height: 1;
			color: var(--gray-1);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: calc(100% + 4px);
				height: 2px;
				border-radius: 100px;
				top: calc(50% - 2px);
				left: -2px;
				background-color: var(--gray-1);
			}
		}
	}
	&__desc {
		display: block;
		height: 32px;
		overflow: hidden;
		color: var(--black);
		@include transition(color);
		@media (hover: hover) {
			&:hover {
				color: var(--violet);
			}
		}
	}
	&__box {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__rating {
		display: flex;
		align-items: center;
		gap: 4px;
		font-weight: 700;
		line-height: 1;
		.rating {
			&__value {
				position: relative;
				top: 1px;
			}
		}
	}
	&__item {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 14px;
		color: var(--dark-gray);
		position: relative;
		&::before {
			content: "";
			width: 4px;
			height: 4px;
			background-color: var(--black);
			border-radius: 50%;
			margin: 0 9px;
		}
		&:first-child {
			&::before {
				display: none;
			}
		}
	}
	&__btn {
		gap: 8px;
		img {
			position: relative;
			top: -1px;
		}
	}
	&:hover {
		z-index: 16;
		&::before {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
		.recommendations-card {
			&__view {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}
		}
	}
	&.card--list {
		.recommendations-card {
			&__top {
				height: 360px;
			}
		}
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 1199px) {
	.recommendations-card {
		&.card--list {
			.recommendations-card {
				&__top {
					height: 320px;
				}
			}
		}
	}
}
@media (max-width: 1100px) {
}
@media (max-width: 1010px) {
	.recommendations-card {
		gap: 16px;
		&__top {
			height: 210px;
			border-radius: 10px;
		}
		&__prices {
			min-height: 21px;
		}
		&__price {
			font-size: 21px;
		}
	}
}
@media (max-width: 549px) {
	.recommendations-card {
		&.card--list {
			.recommendations-card {
				&__top {
					height: auto;
				}
			}
		}
	}
}
