.reviews-card {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 16px;
		margin-bottom: 20px;
	}
	&__container {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 8px;
	}
	&__color {
		display: flex;
		gap: 4px;
		&-caption {
			font-size: 14px;
			color: var(--dark-gray);
		}
	}
	&__text {
		max-height: 96px;
		overflow: hidden;
		@include transition(all);
		&.active {
			max-height: initial;
		}
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 1010px) {
	.reviews-card {
		&__top {
			gap: 16px;
			margin-bottom: 12px;
		}
	}
}
@media (max-width: 760px) {
}
