.search {
	display: flex;
	align-items: center;
	border-radius: 12px;
	padding: 4px 4px 4px 24px;
	background-color: var(--light-gray-2);
	width: 578px;
	&__field {
		flex: 1;
		font-family: var(--font-family);
		width: 100%;
		background-color: var(--light-gray-2);
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.01em;
		color: var(--black);
		padding: 10px 0;
		border: none;
		position: relative;
		-moz-appearance: none;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		resize: none;
		&::-webkit-input-placeholder {
			color: var(--dark-gray);
		}
		&::-moz-placeholder {
			color: var(--dark-gray);
		}
		&:-moz-placeholder {
			color: var(--dark-gray);
		}
		&:-ms-input-placeholder {
			color: var(--dark-gray);
		}
		&:focus {
			color: var(--black);
		}
	}
}
@media (max-width: 1270px) {
	.search {
		width: calc(100% - 120px);
	}
}
@media (max-width: 1010px) {
	.search {
		width: calc(100% - 64px);
		&__field {
			font-size: 14px;
			padding: 6px 0;
		}
	}
}
@media (max-width: 680px) {
	.search {
		width: 100%;
		border-radius: 5px;
		padding: 2px 2px 2px 16px;
	}
}
