/*.page {
	overflow: hidden;
}*/

.main {
	padding-top: 30px;
}

.wrapper {
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px;
}

.logo {
	width: 153px;
	height: 30px;
	display: block;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	font-family: var(--font-family);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: var(--white);
	border-radius: 9px;
	padding: 14px 30px;
	background-color: var(--violet);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	@include transition(opacity);
	&_gray {
		background-color: var(--dark-gray);
	}
	&_light-gray {
		background-color: var(--light-violet);
		color: var(--violet);
	}
	&_white {
		background-color: var(--white);
		color: var(--violet);
	}
	&:hover {
		opacity: 0.9;
	}
	&_big {
		width: 100%;
		padding: 22px 30px;
	}
}

.field {
	font-family: var(--font-family);
	width: 100%;
	background-color: transparent;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: var(--black);
	border: 1px solid var(--field-gray);
	border-radius: 10px;
	padding: 14px 16px 13px 16px;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: all 0.3s ease;
	resize: none;
	&::-webkit-input-placeholder {
		color: var(--black);
	}
	&::-moz-placeholder {
		color: var(--black);
	}
	&:-moz-placeholder {
		color: var(--black);
	}
	&:-ms-input-placeholder {
		color: var(--black);
	}
	&:focus {
		border-color: var(--violet);
		color: var(--black);
	}
}

.btn-item {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 9px;
	padding: 14px 30px;
	background-color: var(--violet);
	font-weight: 700;
	color: var(--white);
	@include transition(opacity);
	&:hover {
		opacity: 0.9;
	}
	&__icon {
		width: 16px;
		height: 16px;
		flex-direction: column;
		justify-content: space-between;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: var(--white);
			border-radius: 5px;
			position: relative;
			@include transition(all);
		}
	}
}

.price {
	font-weight: 800;
	font-size: 28px;
	line-height: 1;
	color: var(--rose);
	@media (max-width: 1010px) {
		& {
			font-size: 24px;
		}
	}
}

.price-old {
	font-weight: 700;
	line-height: 1;
	color: var(--gray-1);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: calc(100% + 4px);
		height: 2px;
		border-radius: 100px;
		top: calc(50% - 2px);
		left: -2px;
		background-color: var(--gray-1);
	}
}

.main-info {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 14px;
	&__row {
		display: flex;
	}
	&__item {
		display: flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			width: 4px;
			height: 4px;
			background-color: var(--black);
			border-radius: 50%;
			margin: 0 8px;
		}
		&:first-child {
			&::before {
				display: none;
			}
		}
		span {
			color: var(--dark-gray);
		}
	}
}

.catalog-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 9px;
	padding: 14px 20px;
	background-color: var(--violet);
	font-weight: 700;
	color: var(--white);
	@include transition(opacity);
	&:hover {
		opacity: 0.9;
	}
	&__burger {
		padding: 2px;
		width: 16px;
		height: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: var(--white);
			border-radius: 5px;
			position: relative;
			@include transition(all);
		}
	}
}

.title {
	font-weight: 700;
	font-size: 28px;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: var(--black);
	&_big {
		font-weight: 700;
		font-size: 32px;
		line-height: 72%;
	}
}

.desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: var(--dark-gray);
}

.breadcrumbs {
	margin-bottom: 14px;
	ul {
		display: flex;
		li {
			font-size: 14px;
			color: var(--dark-gray);
			&::after {
				content: "/";
				font-size: 14px;
				color: var(--dark-gray);
				margin: 0px 8px;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
			a {
				display: inline-flex;
				font-size: 14px;
				color: var(--dark-gray);
				@include transition(color);
				@media (hover: hover) {
					&:hover {
						color: var(--violet);
					}
				}
			}
		}
	}
}

.star {
	margin-top: -1px;
	margin-left: -1px;
	width: 92px;
	height: 16px;
	position: relative;
	background-image: url(../img/icons/star.svg);
	background-size: auto;
	&__active {
		width: 92px;
		height: 16px;
		position: absolute;
		background-image: url(../img/icons/star-active.svg);
		background-size: auto;
	}
}

.link {
	display: inline-flex;
	font-weight: 700;
	color: var(--dark-gray);
	@include transition(color);
	@media (hover: hover) {
		&:hover {
			color: var(--violet);
		}
	}
}

.brand-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	border: 1px solid var(--light-violet);
	border-radius: 8px;
	padding: 3px 8px 3px 14px;
	background-color: var(--light-violet);
	margin-bottom: 12px;
}

.tab {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	font-size: 18px;
	color: var(--black);
	border-radius: 12px;
	padding: 14px 19px;
	background-color: transparent;
	@include transition(all);
	span {
		font-size: 16px;
		color: rgba(0, 0, 0, 0.5);
		@include transition(color);
	}
	&.active {
		background-color: var(--white);
		font-weight: 700;
		color: var(--violet);
		span {
			font-weight: 400;
			color: var(--dark-gray);
		}
	}
	&:hover {
		background-color: var(--white);
		color: var(--violet);
		span {
			color: var(--dark-gray);
		}
	}
}
.tabs {
	display: flex;
	gap: 8px;
	border-radius: 12px;
	padding: 8px;
	background-color: var(--light-gray-2);
	&_item {
		background-color: var(--white);
		.tab {
			&.active {
				background: var(--light-gray);
			}
			&:hover {
				background: var(--light-gray);
			}
		}
	}
}

.rating {
	display: flex;
	gap: 8px;
	color: #3b4453;
}

.like-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--light-violet);
	border-radius: 9px 12px 12px 9px;
	padding: 6px;
	width: 44px;
	height: 44px;
	background-color: var(--light-violet);
	@include transition(all);
	svg {
		* {
			@include transition(fill);
		}
	}
	&:hover {
		opacity: 0.9;
	}
	&.active {
		svg {
			* {
				fill: var(--violet);
			}
		}
	}
}

.review-votes {
	display: flex;
	align-items: center;
	gap: 16px;
}

.like,
.dislike {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	&__value {
		font-weight: 700;
		color: var(--black);
	}
	&__caption {
		color: var(--dark-gray);
	}
	svg {
		* {
			@include transition(fill);
		}
	}
	&:hover {
		opacity: 0.9;
	}
	&.active {
		svg {
			* {
				fill: var(--violet);
			}
		}
	}
}

.checbox {
	display: flex;
	cursor: pointer;
	input {
		display: none;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		width: 16px;
		height: 16px;
		background-color: var(--light-gray-2);
		margin-right: 4px;
		position: relative;
		transition: all 0.4s;
		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			width: 30%;
			height: 50%;
			box-sizing: border-box;
			border-color: #fff;
			border-style: solid;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg) translate(-100%, -25%) scale(1);
			opacity: 0;
			transition: all 0.4s;
		}
	}
	&__box {
		display: flex;
		align-items: center;
		gap: 8px;
		flex: 1;
	}
	&__caption {
		display: flex;
		align-items: center;
		gap: 8px;
		line-height: 1.2;
		color: var(--dark-gray);
		transition: all 0.4s;
	}
	&__dots-color {
		border-radius: 100%;
		background-color: var(--white);
		border: 1px solid var(--field-gray);
		width: 18px;
		height: 18px;
		display: inline-flex;
		margin-right: 8px;
		position: relative;
		top: -2px;
	}
	&_big {
		.checbox {
			&__icon {
				width: 24px;
				height: 24px;
			}
		}
	}
	&_item {
		.checbox {
			&__icon {
				width: 24px;
				height: 24px;
				border-radius: 100%;
				background-color: var(--white);
				border: 1px solid var(--field-gray);
				margin-right: 8px;
			}
			&__caption {
				color: var(--black);
			}
		}
	}
	input[type="checkbox"]:checked + .checbox__icon,
	input[type="radio"]:checked + .checbox__icon {
		background-color: var(--violet);
		border-color: var(--violet);
		transition: all 0.4s;
	}
	input[type="checkbox"]:checked + .checbox__icon::before,
	input[type="radio"]:checked + .checbox__icon::before {
		opacity: 1;
		transition: all 0.4s;
	}
}

.options-checbox {
	display: flex;
	cursor: pointer;
	input {
		display: none;
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--field-gray);
		border-radius: 12px;
		padding: 10px;
		min-width: 55px;
		min-height: 55px;
		color: var(--black);
		transition: all 0.4s;
	}
	input[type="checkbox"]:checked + .options-checbox__box,
	input[type="radio"]:checked + .options-checbox__box {
		border-color: var(--violet);
		transition: all 0.4s;
	}
}

.item-checbox {
	display: block;
	cursor: pointer;
	input {
		display: none;
	}
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-radius: 83px;
		width: 40px;
		height: 21px;
		padding: 2.5px;
		background: var(--field-gray);
		position: relative;
		transition: all 0.4s;
		span {
			display: inline-flex;
			width: 17px;
			height: 17px;
			border-radius: 100%;
			background-color: var(--white);
			border-radius: 50%;
		}
	}
	&__box {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	&__caption {
		line-height: 1;
		color: var(--black);
	}
	input[type="checkbox"]:checked + .item-checbox__wrap .item-checbox__icon,
	input[type="radio"]:checked + .item-checbox__wrap .item-checbox__icon {
		justify-content: flex-end;
		background-color: var(--violet);
		transition: all 0.4s;
	}
	input[type="checkbox"]:checked + .checbox__icon::before,
	input[type="radio"]:checked + .checbox__icon::before {
		opacity: 1;
		transition: all 0.4s;
	}
}

.rating-small {
	display: flex;
	align-items: center;
	gap: 4px;
	font-weight: 700;
	line-height: 1;
	&__value {
		position: relative;
		top: 1px;
	}
}

.arrow {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 50%;
	overflow: hidden;
	width: 48px;
	height: 48px;
	@include transition(all);
	@media (hover: hover) {
		&:hover {
			transform: scale(0.8);
		}
	}
	&.swiper-button-disabled {
		opacity: 0;
		visibility: hidden;
	}
}

.read-completely {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	font-weight: 700;
	color: var(--dark-gray);
	@include transition(color);
	svg {
		@include transition(transform);
		* {
			@include transition(all);
		}
	}
	@media (hover: hover) {
		&:hover {
			color: var(--violet);
			svg {
				* {
					stroke: var(--violet);
				}
			}
		}
	}
	&.active {
		color: var(--violet);
		svg {
			transform: scaleY(-1);
			* {
				stroke: var(--violet);
			}
		}
	}
}

.all-filters {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	height: 44px;
	font-size: 18px;
	line-height: 100%;
	color: var(--black);
	border-radius: 12px;
	padding: 14px 20px;
	background-color: var(--light-gray-2);
	@include transition(all);
	svg {
		* {
			@include transition(stroke);
		}
	}
	@media (hover: hover) {
		&:hover {
			background-color: var(--violet);
			color: var(--white);
			svg {
				* {
					stroke: var(--white);
				}
			}
		}
	}
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	&-links {
		display: flex;
		justify-content: center;
	}
	&-number {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		padding: 16px;
		width: 48px;
		height: 48px;
		background-color: transparent;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		color: var(--black);
		cursor: pointer;
		transition: all 0.3s;
		svg {
			* {
				transition: all 0.3s;
			}
		}
		&.current,
		&:hover {
			background-color: var(--violet);
			color: var(--white);
			svg {
				* {
					stroke: var(--white);
				}
			}
		}
		&.disabled {
			background-color: transparent;
			color: var(--black);
			opacity: 0.6;
			svg {
				* {
					stroke: #352a58;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	.logo {
		width: 132px;
		height: auto;
	}
}
@media (max-width: 1010px) {
	.main {
		padding-top: 15px;
	}
	.logo {
		width: 120px;
		height: auto;
	}
	.btn {
		&_big {
			padding: 18px 30px;
		}
	}
	.catalog-btn {
		padding: 12px 20px;
		&__caption {
			display: none;
		}
	}
	.btn-item {
		padding: 12px 20px;
	}
	.title {
		font-size: 24px;
	}
	.tab {
		font-size: 16px;
		border-radius: 10px;
		padding: 12px 16px;
	}
	.all-filters {
		font-size: 16px;
		padding: 14px 20px;
	}
	.options-checbox {
		&__box {
			border-radius: 8px;
			min-width: 48px;
			min-height: 48px;
		}
	}
}
@media (max-width: 760px) {
	.logo {
		width: 100px;
	}
	.navigation {
		&-links {
			width: 100%;
		}
		&-number {
			padding: 5px;
			width: 34px;
			height: 34px;
			font-size: 16px;
			&.prev,
			&.next {
				display: none;
			}
		}
	}
}
@media (max-width: 680px) {
	.page {
		overflow: hidden;
	}
	.btn {
		border-radius: 5px;
		padding: 12px 20px;
	}
	.btn-item {
		padding: 10px 12px;
		border-radius: 5px;
	}
	.breadcrumbs {
		margin-bottom: 8px;
		overflow: auto;
		padding-bottom: 4px;
		white-space: nowrap;
		ul {
			li {
				font-size: 12px;
				&::after {
					font-size: 12px;
					margin: 0px 4px;
				}
				a {
					font-size: 12px;
				}
			}
		}
	}
	.tabs {
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.tab {
		font-size: 14px;
		border-radius: 5px;
		span {
			font-size: 14px;
		}
	}
	.arrow {
		width: 36px;
		height: 36px;
		padding: 8px;
	}
}
@media (max-width: 520px) {
	.all-filters {
		padding: 14px;
		span {
			display: none;
		}
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 1100px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
}
@media (max-width: 680px) {
}
