:root {
	--font-family: "Circe", sans-serif;
	--second-family: "Days One", sans-serif;
	--black: #352a58;
	--violet: #905ff4;
	--violet-hover: #9e6fff;
	--dark-violet: #7940ed;
	--light-violet: #f7f3ff;
	--accent-blue: #33f0e4;
	--rose: #ff3d9a;
	--dark-gray: #a6a2b3;
	--gray-1: #c7c5ce;
	--gray-2: #d6d4dc;
	--field-gray: #eee;
	--light-gray: #f9f9fc;
	--light-gray-2: #f5f5f8;
	--white: #fff;
}
